category-encoders==2.6.0
-e git+https://github.com/sarthak-chakraborty/CausIL.git@4f8adb188303fcae59eb68bf4fb49fc462efcca2#egg=causalDiscovery&subdirectory=LIB
contourpy==1.0.7
cycler==0.11.0
dill==0.3.6
fcit==1.2.0
feature-engine==1.5.2
fonttools==4.38.0
importlib-metadata==6.0.0
joblib==1.2.0
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.6.3
networkx==2.8.6
numba==0.56.4
numpy==1.23.5
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
patsy==0.5.3
pgmpy==0.1.21
Pillow==9.4.0
pygobnilp==1.0
pygraphviz==1.10
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
scikit-learn==1.2.1
scipy==1.10.0
six==1.16.0
sklearn==0.0.post1
sortedcontainers==2.4.0
statsmodels==0.13.5
threadpoolctl==3.1.0
torch==1.13.1
tqdm==4.64.1
typing-extensions==4.4.0
zipp==3.12.0
