APScheduler==3.5.3
backcall==0.1.0
boto3==1.9.79
botocore==1.12.253
category-encoders==2.2.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
clipboard==0.0.4
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
dill==0.3.2
docutils==0.15.2
fcit==1.2.0
feature-engine==0.4.31
Flask==1.1.2
future==0.18.2
gevent==20.5.0
greenlet==0.4.15
gsq==0.1.6
idna==2.9
ipykernel==5.3.0
ipython==7.9.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.16.0
jupyter-client==6.1.5
jupyter-core==4.6.3
jupyterlab==0.34.12
jupyterlab-launcher==0.13.1
jupyterlab-zip==1.0.1
kiwisolver==1.1.0
llvmlite==0.33.0
MarkupSafe==1.1.1
matplotlib==3.0.0
networkx==2.4
numba==0.50.1
numpy==1.19.0
pandas==1.0.5
parso==0.7.0
patsy==0.5.1
pcalg==0.1.9
pexpect==4.8.0
pgmpy==0.1.11
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==2.0.10
protobuf==3.6.0
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.23.0
requests-toolbelt==0.9.1
s3transfer==0.1.13
scikit-learn==0.23.1
scipy==1.5.0
six==1.14.0
sklearn==0.0
sortedcontainers==2.2.2
statsmodels==0.11.1
threadpoolctl==2.1.0
torch==1.5.1
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.25.9
wcwidth==0.1.9
Werkzeug==1.0.1
